html, body{
    height: 100%;
}
#principal{
    width: 100%;
    border: 2px solid;
    position: inherit;
    display: block;
}
#nomMes{
    float: left;
    border: 2px solid;
    width: 59.6%;
}
#any{
    float: right;
    border: 2px solid;
    width: 39.9%;
}
#taulaDiesSetmana{
    width: 100%;
    text-align: center;
    font-size: larger;
}