html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    
}
table{
    border: 2px solid black;
    text-align: center;
    width: 100%;
    height: auto;
}
tr, td{
    border: 2px solid black;
}
#nomMes{
    height: 4em;
}
#diesSetmana{
    height: 3em;
}