html,
body {
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(lightblue,aqua, cornflowerblue);
}
h1{
    text-align: center;
}

#principal {
    width: 80%;
    border: 2px solid;
    display: block;
    margin-top: 2em;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 10%;
}

#nomMes {
    text-align: center;
    float: left;
    padding-top: 8px;
    width: 60%;
    font-size: 24px;
    text-align: center;
    border-right: 1px solid;
    box-sizing: border-box;
    padding-bottom: 10px;
}

#any {
    text-align: center;
    float: right;
    padding-top: 8px;
    width: 40%;
    font-size: 24px;
    text-align: center;
}

#taulaDiesSetmana {
    text-align: center;
    width: 100%;
    font-size: larger;
    border-top: 1px solid;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    text-align: center;
    width: calc(100% / 7);
    border: 1px solid;
    padding: 7px;
}
.navegacio{
    width: 100%;
    text-align: center;
}
.textSelect {
    text-align: center;
    display: inline;
    font-size: larger;
    margin-left: 20px;
}

.btnNavegacioMesos {
    align-items: center;
    text-align: center;
    width: 80px;
    height: 30px;
    font-size: large;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cornflowerblue;
    opacity: 60%;
    border-radius: 20px;
}

select {
    align-items: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 120px;
    height: 30px;
    font-size: large;
    margin-left: 20px;
    background-color: cornflowerblue;
    opacity: 60%;
    border-radius: 20px;
    text-align: center;
}
.calendari{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.diesCalendari{
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    width: calc(100% / 7);
    overflow: hidden;
    height: 110px;
    border: 1px solid;
    align-content: center;
    border-radius: 20px;
}